<!DOCTYPE html>
<html>
  <head>
    <title>TOPRailsAuth2Membersonly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
  <nav class='navbar'>
    <div class='nav-container'>
      <div class='nav-right'>
        <h1><%= link_to 'Members Only', root_path, class: 'blank-link' %></h1>
        <% if user_signed_in? %>
          <%= link_to 'New Post', new_post_path, class: 'button lmarg-5' %>
        <% end %>
      </div>
      <div class='nav-left'>
        <% if user_signed_in? %>
          <div class='nav-user'><%= current_user.username %></div>
          <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'button' %>
        <% else %>
          <%= link_to 'Log In', new_user_session_path, class: 'button' %>
          <%= link_to 'Sign Up', new_user_registration_path, class: 'button' %>
        <% end %>
      </div>
    </div>
  </nav>
  <% if flash[:notice] %>
      <div class='flash-notice'>
        <p class='lmarg-10 notice'><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class='flash-alert'>
        <p class='lmarg-10 alert'><%= alert %></p>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div class='flash-error'>
        <p class='lmarg-10 error'><%= error %></p>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>
